<mgl-map [style]="style" [projection]="{name:'globe'}" [zoom]="[3]" [center]="[76.962842, 11.001812]">
  <mgl-control mglNavigation></mgl-control>
  <mgl-control mglGeolocate [positionOptions]="{
    enableHighAccuracy: true
  }" [trackUserLocation]="true"></mgl-control>
</mgl-map>

<!-- <div id="map"></div>
<div class="map-overlay top">
  <div class="map-overlay-inner">
    <fieldset class="select-fieldset">
      <label>Select light preset</label>
      <select id="lightPreset" #lightPreset name="lightPreset">
        <option value="dawn">Dawn</option>
        <option value="day" selected="">Day</option>
        <option value="dusk">Dusk</option>
        <option value="night">Night</option>
      </select>
    </fieldset>
    <fieldset>
      <label for="showPlaceLabels">Show place labels</label>
      <input type="checkbox" id="showPlaceLabels" checked="">
    </fieldset>
    <fieldset>
      <label for="showPointOfInterestLabels">Show POI labels</label>
      <input type="checkbox" id="showPointOfInterestLabels" checked="">
    </fieldset>
    <fieldset>
      <label for="showRoadLabels">Show road labels</label>
      <input type="checkbox" id="showRoadLabels" checked="">
    </fieldset>
    <fieldset>
      <label for="showTransitLabels">Show transit labels</label>
      <input type="checkbox" id="showTransitLabels" checked="">
    </fieldset>
  </div>
</div> -->

<div>
  <input type="radio" name="basemap" value="basic" [(ngModel)]="layerId" (ngModelChange)="changeStyle($event)" />
  <label>Basic</label>

  <input type="radio" name="basemap" value="streets" [(ngModel)]="layerId" (ngModelChange)="changeStyle($event)" />
  <label>Streets</label>

  <input type="radio" name="basemap" value="bright" [(ngModel)]="layerId" (ngModelChange)="changeStyle($event)" />
  <label>Bright</label>

  <input type="radio" name="basemap" value="light" [(ngModel)]="layerId" (ngModelChange)="changeStyle($event)" />
  <label>Light</label>

  <input type="radio" name="basemap" value="dark" [(ngModel)]="layerId" (ngModelChange)="changeStyle($event)" />
  <label>Dark</label>

  <input type="radio" name="basemap" value="satellite" [(ngModel)]="layerId" (ngModelChange)="changeStyle($event)" />
  <label>Satellite</label>
</div>